<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
</head>
<body>
    <div class="bg-gray-200 w-1/2 p-4 max-auto mt-4">
        <h1 class="text-2xl font-bold" data-th-text="${name}">Welcome to MY WORLD</h1>
        <p>Youtube channel : <span data-th-text="${YoutubeChannel}"></span></p>
        <p>Github Repo : <span th:text="${GithubRepo}"></span>
         <a data-th-href="${GithubRepo}">Click here to open</a>    
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, quae enim. Cupiditate autem nulla laboriosam similique possimus iusto est officiis dolorem sequi dicta eveniet neque maiores quasi earum velit dolor sed illo, ipsam expedita odit atque, magni nesciunt! Voluptate, voluptas tempore! Laboriosam et officia quas odio facilis temporibus cumque possimus!</p>
    </div>
</div>
</body>
</html>